@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik','Roboto', sans-serif;
    font-size: 2.25rem;
  }

  html{
    touch-action: none;
}

.fullpage{
    background-color: white;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(assest/bg1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    


}

body{
    overflow: hidden;

}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    /* background-image: url(assest/centerf.png); */
    background-size: cover;
    
    color: white;
    height: 100%;
    width: 600px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.90);
        width: 600px;
    max-width: 90%;
    max-height: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 24px -1px rgba(32, 32, 32, 1);
    outline: 6px solid rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(20px);
    border-radius: 25px;
}

.reward{
    width: 70%;
    transition: 0.5s;
    z-index: 99999999;
    animation: scale 1.3s infinite;
    filter: invert(1) brightness(45);

}

.logo{
    width: 300px;
}
.smalltitle{
font-size: 50px;
font-weight: 100;
filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.185));
}
.content{
  padding-left:40px;
  padding-right: 40px;
  direction:rtl;
    font-size: 35px;
    font-weight: 200;
    text-transform: uppercase;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 00));
    width: 100%;
    text-align: center;
}
.small{

    font-size: 24px;
    padding: 0px;
}



.timer{
    margin-top: 30px;
}
/**/
.flip-card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    border-radius: .1em;
    color: black;
    min-width: 43px;

  }
  .container-segment:hover{
    filter: drop-shadow(0 2px  20px rgb(52, 36, 190));

  }  
  .top,
  .bottom,
  .flip-card .top-flip,
  .flip-card .bottom-flip {
    height: .75em;
    line-height: 1;
    padding: .25em;
    font-size: 60px;
    overflow: hidden;
    font-size: 40px !important;
  }
  
  .top,
  .flip-card .top-flip {
    background-color: #f7f7f7;
    border-top-right-radius: .1em;
    border-top-left-radius: .1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .bottom,
  .flip-card .bottom-flip {
    background-color: white;
    display: flex;
    
    align-items: flex-end;
    border-bottom-right-radius: .1em;
    border-bottom-left-radius: .1em;
  }
  
  .flip-card .top-flip {
    position: absolute;
    width: 100%;
    animation: flip-top 250ms ease-in;
    transform-origin: bottom;
  }
  
  @keyframes flip-top {
    100% {
      transform: rotateX(90deg);
    }
  }
  
  .flip-card .bottom-flip {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: flip-bottom 250ms ease-out 250ms;
    transform-origin: top;
    transform: rotateX(90deg);
  }
  
  @keyframes flip-bottom {
    100% {
      transform: rotateX(0deg);
    }
  }
  
  .container {
    display: flex;
    gap: .25em;
    justify-content: center;
  }
  
  .container-segment {
    display: flex;
    flex-direction: column;
        gap: .1em;
    align-items: center;
    transition: 0.5s;

  }
  
  .segment {
    display: flex;
    gap: .1em;
  }
  
  .segment-title {
    font-size: 20px;
}


.endcontent{
    margin-top: 20px;
    font-size: 20px;
    color: gray;
}

  hr{
      margin: 10px 0px;
      width: 80%;
  }
  body {
    margin: 0;
    padding: 0;
    background: #000;
}
.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow:  0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}
.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}
@-webkit-keyframes bang {
    to {
        box-shadow:  55px -66.6666666667px rgb(0, 0, 0), -141px -37.6666666667px #575757, 161px -120.6666666667px #000000, -60px -117.6666666667px #272727, -101px -1.6666666667px #ff8000, -66px -41.6666666667px #ffa200, -41px -232.6666666667px #ff0080, 120px -243.6666666667px #4000ff, 191px -227.6666666667px #ff2f00, -47px -315.6666666667px #c8ff00, -125px 63.3333333333px #f0a, -169px -257.6666666667px #ff2f00, -89px -369.6666666667px #f06, -133px -233.6666666667px #3c00ff, -139px 46.3333333333px #50f, 235px -197.6666666667px #8f0, -6px -119.6666666667px #00f, -144px -269.6666666667px #00ff3c, -142px -282.6666666667px #f80, -187px -342.6666666667px #0080ff, -186px -10.6666666667px #0037ff, 21px -94.6666666667px #00ff91, -106px -32.6666666667px #ff005d, 185px -6.6666666667px #f30, -32px 10.3333333333px #0080ff, -70px -75.6666666667px #0f7, -139px -56.6666666667px #00ffe1, -15px -156.6666666667px #08ff00, 177px -176.6666666667px #00ff1a, 32px -383.6666666667px #f200ff, 44px -162.6666666667px #0fa, 89px -38.6666666667px #00ff7b, 60px 43.3333333333px #f90, 220px 16.3333333333px #d900ff, -136px -250.6666666667px #474747, -91px -263.6666666667px #ff2600, -66px -237.6666666667px #ff000d, -141px -340.6666666667px #5f0, -153px -85.6666666667px #ff8400, -232px 74.3333333333px #a200ff, -147px -412.6666666667px #0008ff, -175px 64.3333333333px #b6b6b6, -2px -365.6666666667px #444444, 100px -278.6666666667px #000000, 45px -395.6666666667px #000000, -27px -177.6666666667px #7a7a7a, 42px -313.6666666667px #00ffea, -6px -321.6666666667px #7a7a7a, -187px -375.6666666667px rgb(94, 94, 94), 140px -242.6666666667px #505050, 81px -239.6666666667px rgb(134, 134, 134);
   }
}
@-moz-keyframes bang {
    to {
        box-shadow:  55px -66.6666666667px rgb(0, 0, 0), -141px -37.6666666667px #272727, 161px -120.6666666667px #00ffd0, -60px -117.6666666667px #00ff6f, -101px -1.6666666667px #ff8000, -66px -41.6666666667px #ffa200, -41px -232.6666666667px #ff0080, 120px -243.6666666667px #4000ff, 191px -227.6666666667px #ff2f00, -47px -315.6666666667px #c8ff00, -125px 63.3333333333px #f0a, -169px -257.6666666667px #ff2f00, -89px -369.6666666667px #f06, -133px -233.6666666667px #3c00ff, -139px 46.3333333333px #50f, 235px -197.6666666667px #8f0, -6px -119.6666666667px #00f, -144px -269.6666666667px #00ff3c, -142px -282.6666666667px #f80, -187px -342.6666666667px #0080ff, -186px -10.6666666667px #0037ff, 21px -94.6666666667px #00ff91, -106px -32.6666666667px #ff005d, 185px -6.6666666667px #f30, -32px 10.3333333333px #0080ff, -70px -75.6666666667px #0f7, -139px -56.6666666667px #00ffe1, -15px -156.6666666667px #08ff00, 177px -176.6666666667px #00ff1a, 32px -383.6666666667px #f200ff, 44px -162.6666666667px #0fa, 89px -38.6666666667px #00ff7b, 60px 43.3333333333px #f90, 220px 16.3333333333px #d900ff, -136px -250.6666666667px #002fff, -91px -263.6666666667px #ff2600, -66px -237.6666666667px #ff000d, -141px -340.6666666667px #5f0, -153px -85.6666666667px #ff8400, -232px 74.3333333333px #a200ff, -147px -412.6666666667px #0008ff, -175px 64.3333333333px #ff009d, -2px -365.6666666667px #ff1500, 100px -278.6666666667px #ff4000, 45px -395.6666666667px #ff008c, -27px -177.6666666667px #e1ff00, 42px -313.6666666667px #00ffea, -6px -321.6666666667px #0095ff, -187px -375.6666666667px #03f, 140px -242.6666666667px #ff8c00, 81px -239.6666666667px #df0;
   }
}
@-o-keyframes bang {
    to {
        box-shadow:  55px -66.6666666667px rgb(0, 0, 0), -141px -37.6666666667px #1b1b1b, 161px -120.6666666667px #00ffd0, -60px -117.6666666667px #00ff6f, -101px -1.6666666667px #ff8000, -66px -41.6666666667px #ffa200, -41px -232.6666666667px #ff0080, 120px -243.6666666667px #4000ff, 191px -227.6666666667px #ff2f00, -47px -315.6666666667px #c8ff00, -125px 63.3333333333px #f0a, -169px -257.6666666667px #ff2f00, -89px -369.6666666667px #f06, -133px -233.6666666667px #3c00ff, -139px 46.3333333333px #50f, 235px -197.6666666667px #8f0, -6px -119.6666666667px #00f, -144px -269.6666666667px #00ff3c, -142px -282.6666666667px #f80, -187px -342.6666666667px #0080ff, -186px -10.6666666667px #0037ff, 21px -94.6666666667px #00ff91, -106px -32.6666666667px #ff005d, 185px -6.6666666667px #f30, -32px 10.3333333333px #0080ff, -70px -75.6666666667px #0f7, -139px -56.6666666667px #00ffe1, -15px -156.6666666667px #08ff00, 177px -176.6666666667px #00ff1a, 32px -383.6666666667px #f200ff, 44px -162.6666666667px #0fa, 89px -38.6666666667px #00ff7b, 60px 43.3333333333px #f90, 220px 16.3333333333px #d900ff, -136px -250.6666666667px #002fff, -91px -263.6666666667px #ff2600, -66px -237.6666666667px #ff000d, -141px -340.6666666667px #5f0, -153px -85.6666666667px #ff8400, -232px 74.3333333333px #a200ff, -147px -412.6666666667px #0008ff, -175px 64.3333333333px #ff009d, -2px -365.6666666667px #ff1500, 100px -278.6666666667px #ff4000, 45px -395.6666666667px #ff008c, -27px -177.6666666667px #e1ff00, 42px -313.6666666667px #00ffea, -6px -321.6666666667px #0095ff, -187px -375.6666666667px #03f, 140px -242.6666666667px #ff8c00, 81px -239.6666666667px #df0;
   }
}
@-ms-keyframes bang {
    to {
        box-shadow:  55px -66.6666666667px rgb(0, 0, 0), -141px -37.6666666667px #000000, 161px -120.6666666667px #00ffd0, -60px -117.6666666667px #00ff6f, -101px -1.6666666667px #ff8000, -66px -41.6666666667px #ffa200, -41px -232.6666666667px #ff0080, 120px -243.6666666667px #4000ff, 191px -227.6666666667px #ff2f00, -47px -315.6666666667px #c8ff00, -125px 63.3333333333px #f0a, -169px -257.6666666667px #ff2f00, -89px -369.6666666667px #f06, -133px -233.6666666667px #3c00ff, -139px 46.3333333333px #50f, 235px -197.6666666667px #8f0, -6px -119.6666666667px #00f, -144px -269.6666666667px #00ff3c, -142px -282.6666666667px #f80, -187px -342.6666666667px #0080ff, -186px -10.6666666667px #0037ff, 21px -94.6666666667px #00ff91, -106px -32.6666666667px #ff005d, 185px -6.6666666667px #f30, -32px 10.3333333333px #0080ff, -70px -75.6666666667px #0f7, -139px -56.6666666667px #00ffe1, -15px -156.6666666667px #08ff00, 177px -176.6666666667px #00ff1a, 32px -383.6666666667px #f200ff, 44px -162.6666666667px #0fa, 89px -38.6666666667px #00ff7b, 60px 43.3333333333px #f90, 220px 16.3333333333px #d900ff, -136px -250.6666666667px #002fff, -91px -263.6666666667px #ff2600, -66px -237.6666666667px #ff000d, -141px -340.6666666667px #5f0, -153px -85.6666666667px #ff8400, -232px 74.3333333333px #a200ff, -147px -412.6666666667px #0008ff, -175px 64.3333333333px #ff009d, -2px -365.6666666667px #ff1500, 100px -278.6666666667px #ff4000, 45px -395.6666666667px #ff008c, -27px -177.6666666667px #e1ff00, 42px -313.6666666667px #00ffea, -6px -321.6666666667px #0095ff, -187px -375.6666666667px #03f, 140px -242.6666666667px #ff8c00, 81px -239.6666666667px #df0;
   }
}
@keyframes bang {
    to {
        box-shadow:  55px -66.6666666667px rgb(0, 0, 0), -141px -37.6666666667px #000000, 161px -120.6666666667px #00ffd0, -60px -117.6666666667px #00ff6f, -101px -1.6666666667px #ff8000, -66px -41.6666666667px #ffa200, -41px -232.6666666667px #ff0080, 120px -243.6666666667px #4000ff, 191px -227.6666666667px #ff2f00, -47px -315.6666666667px #c8ff00, -125px 63.3333333333px #f0a, -169px -257.6666666667px #ff2f00, -89px -369.6666666667px #f06, -133px -233.6666666667px #3c00ff, -139px 46.3333333333px #50f, 235px -197.6666666667px #8f0, -6px -119.6666666667px #00f, -144px -269.6666666667px #00ff3c, -142px -282.6666666667px #f80, -187px -342.6666666667px #0080ff, -186px -10.6666666667px #0037ff, 21px -94.6666666667px #00ff91, -106px -32.6666666667px #ff005d, 185px -6.6666666667px #f30, -32px 10.3333333333px #0080ff, -70px -75.6666666667px #0f7, -139px -56.6666666667px #00ffe1, -15px -156.6666666667px #08ff00, 177px -176.6666666667px #00ff1a, 32px -383.6666666667px #f200ff, 44px -162.6666666667px #0fa, 89px -38.6666666667px #00ff7b, 60px 43.3333333333px #f90, 220px 16.3333333333px #d900ff, -136px -250.6666666667px #002fff, -91px -263.6666666667px #ff2600, -66px -237.6666666667px #ff000d, -141px -340.6666666667px #5f0, -153px -85.6666666667px #ff8400, -232px 74.3333333333px #a200ff, -147px -412.6666666667px #0008ff, -175px 64.3333333333px #ff009d, -2px -365.6666666667px #ff1500, 100px -278.6666666667px #ff4000, 45px -395.6666666667px #ff008c, -27px -177.6666666667px #e1ff00, 42px -313.6666666667px #00ffea, -6px -321.6666666667px #0095ff, -187px -375.6666666667px #03f, 140px -242.6666666667px #ff8c00, 81px -239.6666666667px #df0;
   }
}
@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
   }
}
@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
   }
}
@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
   }
}
@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
   }
}
@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
   }
}
@-webkit-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
   }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
   }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
   }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
   }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
   }
}
@-moz-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
   }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
   }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
   }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
   }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
   }
}
@-o-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
   }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
   }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
   }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
   }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
   }
}
@-ms-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
   }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
   }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
   }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
   }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
   }
}
@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
   }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
   }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
   }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
   }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
   }
}

.minutes{
    display: flex !important;
}

.end img{
    position: fixed;
    left: 5px;
    bottom: 5px;
    width: 60px !important;
}

@keyframes moveup {
    0%{
        transform: translateY(10px);
    }
   50%{
    transform: translateY(-10px);
   }
   100%{
    transform: translateY(10px);
   }
}

@keyframes scale {
    0%{
        transform: scale(1);
    }
   50%{
    transform: scale(1.1);
}
   100%{
    transform: scale(1);
}
}


.remember{
    font-size: 17px;
    font-weight: 100;
    margin-top: 0px;
    color: white;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
/* 3 */
.btn-3 {
    background: rgb(88, 8, 251);
  background: linear-gradient(90deg, rgb(88, 8, 251) 0%, rgb(153, 41, 234) 100%);
    width: auto;
    height: auto;
    line-height: 42px;
    padding: 0;
    border: none;
    animation: moveup 3s infinite;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    font-size: 30px !important;

  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgb(88, 8, 251);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: white;
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgb(88, 8, 251);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }
  
  @media only screen and (max-width: 600px) {
    *{
        font-size: 20px !important;
    }
    .btn-3 {
        margin-top: 40px;
    }
    .btn-3 span{
        padding: 5px 10px;
        font-size: 20px !important;
    }
    .fullpage{
        background-position: right;
        background-size: cover;
        background-image: url(assest/grass.jpg);
        align-items: flex-start;
        padding-top: 20px;
    }
    .content{
        font-size: 16px !important;
        width: 100%;
        text-align: center;
    }
    .smalltitle{
        font-size: 30px !important;
    }
    .section{
        background-size: contain;
        height: auto;
        padding: 10px 20px;
        display: flex;
        justify-content: flex-start;
      
        }
    .endcontent{
        font-size: 10px !important;
    }
    .end{
        margin: 0;
    }
    .end img{
        width: 100px;
    }
    .remember{
        font-size: 14px !important;
        text-align: center;
    }

    .top,
    .bottom,
    .flip-card .top-flip,
    .flip-card .bottom-flip {
      height: .75em;
      line-height: 1;
      padding: .25em;
      overflow: hidden;
      font-size: 25px !important;
    }
    .flip-card {
        min-width: 0px;
      }
      .segment-title {
        font-size: 10px !important;
    }
    .container{
        gap: 10px;
    }
  }
